<div layout="column" class="frame table">
    <div flex class="framehdr">
        <i class="mdi mdi-harddisk"></i>
        Nodes
        <button ng-click="addNode()">
            <i class="mdi mdi-plus"></i>
            <md-tooltip>Add new Node</md-tooltip>
        </button>
        <!--
            <button ng-click="">
                <i class="mdi mdi-settings"></i>
            </button>
        -->
    </div>
    <div flex ng-init="colWidth = (95/nodeTypes.length)">
        <div hide-sm layout="row">
            <div class="hdr" data-ng-repeat="type in nodeTypes" flex="{{colWidth}}">
                <span hide-md data-ng-bind="type.title" ></span>
                <span hide show-md data-ng-bind="type.stitle" ></span>
                <md-tooltip>{{type.tooltip }}</md-tooltip>
            </div>
            <div class="act"></div>
        </div>

        <div ng-repeat="center in model.nodes" layout="column">
            <div flex layout="row" layout-sm="column">
                <div flex="{{colWidth}}" class="cell" ng-repeat="type in nodeTypes"
                     ng-init="prop=center.all[type.id]" layout="row" layout-align="space-between start">
                    <property value="prop" type="type" owner="center"></property>
                </div>
                <div flex-sm="100" class="act">
                <span style="height: 28px; padding: 0">
                    <button class="hdrbutton" ng-click="remove(center)">
                        <i class="mdi mdi-close" style="font-size: 24px;height: 24px"></i>
                        <md-tooltip>Remove Node</md-tooltip>
                    </button>
                </span>
                </div>
            </div>

        </div>
    </div>
</div>
