<div class="qnm" ng-controller="QNMCtrl">

    <md-tabs md-selected="modeId"
             md-dynamic-height
             md-stretch-tabs="mobile"
             md-align-tabs="top"
            >
        <md-tab>
            <md-tab-label>
                    <span>
                        <button class="tab-button" style="padding: 0 5px 0 5px">
                            <i class="mdi mdi-pen" style="font-size: 22px"></i>
                            <md-tooltip>Text View</md-tooltip>
                        </button>
                    </span>
            </md-tab-label>
            <md-tab-body>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                    <span>
                        <button class="tab-button" style="padding: 0 5px 0 5px">
                            <i class="mdi mdi-chart-line" style="font-size: 22px"></i>
                            <md-tooltip>Chart View</md-tooltip>
                        </button>
                    </span>
            </md-tab-label>
            <md-tab-body>
            </md-tab-body>
        </md-tab>
        <md-tab ng-click="compare()">
            <md-tab-label>
                    <span>
                        <button class="tab-button" style="padding: 0 5px 0 5px">
                            <i class="mdi mdi-compare" style="font-size: 22px">
                                <span class="badge-w" ng-if="!isInComparator()"><span class="badge">+</span></span>
                                <span class="badge-w" ng-if="isInComparator()"><span class="badge">{{compareModels()}}</span></span>
                            </i>
                            <md-tooltip>Comparator View</md-tooltip>
                        </button>
                    </span>
            </md-tab-label>
            <md-tab-body>
            </md-tab-body>
        </md-tab>
    </md-tabs>

    <div ng-if="modeId == 0">
        <ng-include src="'views/qnm-edit.html'" include-replace>
        </ng-include>
    </div>

    <div ng-if="modeId == 1" >
        <ng-include src="'views/qnm-chart.html'" include-replace>
        </ng-include>
    </div>

    <div ng-if="modeId == 2">
        <ng-include src="'views/qnm-compare.html'" include-replace>
        </ng-include>
    </div>

</div>

