@import "font.css";

nav .btn,nav .btn-large {
    margin-top: 12px
}

/*alerts*/

.error {
    background-color: #e57373;
    margin: 5px;
}

.success {
    background-color: #aed581;
    margin: 5px;
}

footer.page-footer {
    padding-top: 0px;
}

