@import "font.css";

/*main menu*/
md-toolbar .mdi {
    font-size: 24px;
    height: 24px
}


/*tooltip*/
md-toolbar .md-toolbar-tools .md-button, md-toolbar .md-toolbar-tools .md-button:hover {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}


 md-grid-list {
    margin: 8px;
 }

 md-grid-tile {
    transition: all 400ms ease-out 50ms;
 }


/*alerts*/

.error {
    background-color: #e57373;
    margin: 5px;
}

.success {
    background-color: #aed581;
    margin: 5px;
}

footer.page-footer {
    padding-top: 0;
}


nav .btn,nav .btn-large {
    margin-top: 12px
}