@import "font.css";


/* COLORS*/

.gray {
    background: #f5f5f5; }

.green {
    background: #b9f6ca; }

.yellow {
    background: #ffff8d; }

.blue {
    background: #84ffff; }

.purple {
    background: #b388ff; }

.red {
    background: #ff8a80; }


/*alerts*/

.error {
    background-color: #e57373;
    margin: 5px;
}

.success {
    background-color: #aed581;
    margin: 5px;
}

.eval {
    color: #4CAF50 !important;
}

.conflict {
    color: #FF9800 !important;
}

.invalid {
    color: #F44336 !important;
}

.up {
    color: #4CAF50 !important;
}

.non {
    color: #9E9E9E !important;
}

.down {
    color: #F44336 !important;
}




/*main menu*/
md-toolbar .mdi {
    font-size: 24px;
    height: 24px
}

md-grid-tile .mdi {
    font-size: 24px;
    height: 24px
}

md-toolbar .md-subheader {
    color: #FFF;
    background-color: #4CAF50;
}

/*badge*/
.badge-w {
    position:absolute;
    left: 14px;
    top:   8px;
    text-align: center;
    pointer-events:none;
    line-height:14px
}

.badge {
    color:white;
    border-radius: 7px;
    font-size: 12px;
    display: inline-block;
    padding: 0 2px;
    min-width: 10px;
    min-height:10px;
    margin: 0 auto;
    background:#4CAF50;
    border:1px solid rgba(0,0,0,.2)
}

/*highcharts*/
.highcharts-container{
    /** Rules it should follow **/
    width: 100%;
}

/*tooltip*/
md-toolbar .md-toolbar-tools .md-button, md-toolbar .md-toolbar-tools .md-button:hover {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}

md-fab-toolbar.md-left md-fab-trigger.align-with-text {
    left: 7px;
}

/* TABS */
.tab-input {
    outline: none;
    border:none !important;
    box-shadow:none !important;
    margin-bottom: 0 !important;
    opacity: 1.0;
    width: 90px;
}

.tab-button {
    background: none repeat scroll 0 0 #FFF;
    border: 0 none;
    cursor: pointer;
    padding: 0 0 0 5px;
    color: #000;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.8;
    text-shadow: 0 1px 0 #FFF;
}


/* CHART */

.bounds-chart {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}


/* FRAMES */

.frame {
    min-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.frame button{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
    color: #000000;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.8;
    text-shadow: 0 1px 0 #FFFFFF;
}

.frame input {
    outline: none;
    border:none !important;
    box-shadow:none !important;
    margin-bottom: 0 !important;
    width: 65%;
}

.frame span {
    height: 20px;
    margin-top: 2px;
    padding: 6px 4px;
}

.frame a {
    color: #555555;
    text-decoration: none;
}


.frame a:hover {
    color: #555555;
    text-decoration: none;
}


.framehdr {
    min-height: 20px;
    padding: 9px;
    background-color: #f5f5f5;
    font-weight: bold;
    overflow-x:hidden;
}


.framehdr .mdi {
    font-size: 24px;
    height: 24px
}

.framehdr button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0 0 0 5px;
    color: #000000;
    float: right;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.8;
    text-shadow: 0 1px 0 #FFFFFF;
}

.framehdr .simplebox {
    background-color: #f5f5f5;
}

.framehdr span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0 0 0 5px;
    color: #000000;
    float: right;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.8;
    text-shadow: 0 1px 0 #FFFFFF;
}

.framehdr input {
    border: medium none !important;
    box-shadow: none !important;
    margin-bottom: 0 !important;
    outline: medium none;
    font-size: 22px;
    font-weight: bold;
}



/* TABLE */


.compare table {
    width: 100%;
    border-collapse: collapse;
    word-break: break-all;
    table-layout: fixed;
}

/* Zebra striping */


.compare tr:nth-of-type(odd) {
    background: #eee;
}

.compare tr:nth-of-type(odd) .simplebox {
    background-color: #eee;
}

.compare td, th {
    padding: 6px;
    border: 1px solid #ccc;
}

.compare th {
    background: #e3e3e3;
    color: #333;
    font-weight: bold;
    text-align: center;
}


.compare td, th {
    text-align: left;
}


.compare .inner table {
    padding: 0;
    margin: 0;
    border: 0;
}

.compare .inner td, th {
    padding: 0;
    margin: 0;
    border: 0;
}



.qnm table {
    width: 100%;
    border-collapse: collapse;
    word-break: break-all;
    table-layout: fixed;
}


/* Zebra striping */


.qnm tr:nth-of-type(odd) {
    background: #eee;
}

.qnm tr:nth-of-type(odd) .simplebox {
    background-color: #eee;
}

.qnm th {
    background: #e3e3e3;
    color: #333;
    font-weight: bold;
}

.qnm td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}


/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

    .container {
        margin: 0;
    }


    .qnm table {
        width: 100%;
        display: block;
    }

    /* Force table to not be like tables anymore */
    .qnm table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .qnm thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .qnm tr {
        border: 1px solid #ccc;
    }

    .qnm td {
        /* Behave  like a "row" */
        border: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .qnm td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    /*
    Label the data
    */


    .nodes td:nth-of-type(1):before {
        content: "Name";
    }
    .nodes td:nth-of-type(2):before {
        content: "Number";
    }
    .nodes td:nth-of-type(3):before {
        content: "U (full)";
    }
    .nodes td:nth-of-type(4):before {
        content: "N(I)";
    }


    .classes td:nth-of-type(1):before {
        content: "Name";
    }
    .classes td:nth-of-type(2):before {
        content: "M";
    }
    .classes td:nth-of-type(3):before {
        content: "Z";
    }
    .classes td:nth-of-type(4):before {
        content: "X";
    }
    .classes td:nth-of-type(5):before {
        content: "R";
    }
    .classes td:nth-of-type(6):before {
    }

    .visits td:nth-of-type(1):before {
        content: "Details";
    }
    .visits td:nth-of-type(2):before {
        content: "Node";
    }
    .visits td:nth-of-type(3):before {
        content: "Class";
    }
    .visits td:nth-of-type(4):before {
        content: "V(I)";
    }
    .visits td:nth-of-type(5):before {
        content: "X(I)";
    }
    .visits td:nth-of-type(6):before {
        content: "S(I)";
    }
    .visits td:nth-of-type(7):before {
        content: "D(I)";
    }
    .visits td:nth-of-type(8):before {
        content: "U(I)";
    }
    .visits td:nth-of-type(9):before {
        content: "RT(I)";
    }

}

/*Hooks*/

.ng-cloak {
    opacity: 0;
    background-color: white;
}

.ng-invalid {
    border: 1px solid red !important;
}
