<div class="row-fluid">
    <div class="framehdr">
        <i class="icon icon-flag"></i>
        Bounds
    </div>
    <div class="frame">
        <table>
            <tr ng-repeat="item in model.classes">
                <th>{{item.name}}</th>
                <td >
                            <span tooltip="Min Response Time" tooltip-placement="right">
                            R(min): {{model.calcMinRt(item)}}
                            </span>

                </td>
                <td>
                            <span tooltip="Max Throughput" tooltip-placement="right">
                            X(max): {{model.calcMaxX(item)}}
                            </span>
                </td>
            </tr>
        </table>


    </div>
</div>