<div class="row-fluid">
    <div class="framehdr">
        <i class="icon icon-flag"></i>
        Asymptotic Bounds
        <button class="hdrbutton" ng-click="refreshCharts()" tooltip-placement="left" tooltip="Refresh Charts">
            <i class="icon-refresh"></i>
        </button>
    </div>
    <div class="frame">
        <div id="rmin{{model.id}}" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="xmax{{model.id}}" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>