<div class="container-fluid qnm" ng-controller="EGMCtrl">

    <div class="framehdr">
        <i class="icon icon-hdd"></i>
        Resources
        <button ng-click="addResource()" tooltip-placement="left" tooltip="Add new Resource">
            <i class="icon-plus"></i>
        </button>
    </div>
    <div class="frame">
        <table class="resources">
            <thead>
            <tr>
                <th>Resource Name</th>
                <th style="width:15px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="resource in model.resources">
                <td nowrap="nowrap">
                    <input type="text" class="input input-small simplebox" ng-model="resource.name">
                </td>
                <td nowrap="nowrap">
                    <span style="height: 28px">
                        <button ng-click="removeResource(resource)" tooltip-placement="left"
                                tooltip="Remove Resource">
                            <i class="icon-remove"></i>
                        </button>
                     </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="framehdr">
        <i class="icon icon-hdd"></i>
        Scenarios
        <button ng-click="addScenario()" tooltip-placement="left" tooltip="Add new Scenario">
            <i class="icon-plus"></i>
        </button>
    </div>
    <div class="tree frame">
        <ul>
            <li ng-repeat="step in model.scenarios" ng-include="step.url" class="tree-li parent-li"></li>
        </ul>
    </div>

</div>

<div style="margin: 64px;"></div>

<script type="text/ng-template" id="stepContent.html">
    <div class="row-fluid" style="display:table;">
        <div class="span3 node" on-collapse style="display:table-cell;">
            <i ng-show="step.isRoot()" class="icon-folder-open"></i>
            <i ng-show="step.isNode()" class="icon-minus-sign"></i>
            <i ng-show="step.isLeaf()" class="icon-leaf"></i>

            <span class="dropdown" tooltip-placement="left" tooltip="Remove Step" style="float: right">
                <a class="simpleank" ng-click="step.removeSelf()"><i class="icon-remove"></i></a>
            </span>
            <span class="dropdown" tooltip-placement="left" tooltip="Add Step"
                  ng-show="step.availableChildren.length" style="float: right">
                <a class="dropdown-toggle simpleank"><i class="icon-list"></i></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="child in step.availableChildren">
                        <a ng-click="step.addStep('{{child.id}}')">{{child.title}}</a>
                    </li>
                </ul>
            </span>

            &NonBreakingSpace;{{step.id}}&NonBreakingSpace;
            <input type="text"
                   class="input input-small simplebox quantity"
                   ng-model="step.name" style="width:50%">

                <label tooltip="Number of loop Iterations" ng-show="step.isLoop()">
                    <b>Number:</b>
                    <input type="text"
                           style="width:20%"
                           ng-change="step.resolve()"
                           class="input input-small simplebox quantity"
                           ng-model="step.iterationNumber"
                           pattern="\\d*[\\., \\,]?\\d*">
                </label>
                <label ng-show="step.isCase()">
                    <b>Probability:</b>
                    <input type="text"
                           style="width:20%"
                           ng-change="step.resolve()"
                           class="input input-small simplebox quantity"
                           ng-model="step.probability"
                           pattern="\\d*[\\., \\,]?\\d*">
                </label>

        </div>
        <div class="span9" style="display:table; text-align: right;">
            <table style="float: right !important; max-width:900px">
                <tr>
                    <td ng-repeat="resource in model.resources"> <b>{{resource.name}}</b> :
                        <input type="text"
                               ng-change="step.change()"
                               ng-show="step.isLeaf()"
                               class="input input-small simplebox quantity"
                               ng-model="step.values[resource.id]"
                               pattern="\\d*[\\., \\,]?\\d*">
                                <span ng-hide="step.isLeaf()">
                                    {{step.values[resource.id]}}
                                </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <ul>
        <li ng-repeat="step in step.steps" ng-include="step.url" class="tree-li" ng-class="step.getClass()"></li>
    </ul>
</script>