<div class="container-fluid">
<div class="row-fluid">
    <div class="span12">
        <div class="framehdr">
            <input type="text" class="input input-large simplebox" style="width: 75%" ng-model="project.name">
            <button class="hdrbutton" ng-click="remove()" tooltip-placement="left" tooltip="Delete Project">
                <i class="icon-trash icon-large"></i>
            </button>
            <button class="hdrbutton" ng-click="save()" tooltip-placement="left" tooltip="Save Project">
                <i class="icon-briefcase icon-large"></i>
            </button>
            <button class="hdrbutton" ng-click="load()" tooltip-placement="left" tooltip="Load Project">
                <i class="icon-download-alt icon-large"></i>
            </button>
            <button class="hdrbutton" ng-click="reset()" tooltip-placement="left" tooltip="Reset Project">
                <i class="icon-file icon-large"></i>
            </button>
            <button class="hdrbutton" ng-click="addModel()" tooltip-placement="left" tooltip="Add Model">
                <i class="icon-plus icon-large"></i>
            </button>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="frame">
            <textarea class="form-control" rows="3" style="width: 99%" ng-model="project.description"></textarea>
        </div>
    </div>
</div>
</div>