<div class="container-fluid qnm" ng-controller="QNMCtrl">

    <div class="row-fluid">
        <div class="span5" ng-include="'views/nodes.html'"></div>
        <div class="span7" ng-include="'views/classes.html'"></div>
    </div>

    <div class="row-fluid" ng-include="'views/visits.html'">
    </div>

    <div class="row-fluid">
        <div class="span6" ng-include="'views/speedup.html'"></div>
    </div>

    <div class="row-fluid">
        <div class="span12" ng-include="'views/bounds.html'"></div>
    </div>

</div>

<div style="margin: 64px;"></div>
