<div class="framehdr">
    <i class="icon icon-user"></i>
    Classes
    <button class="hdrbutton" ng-click="addClass()" tooltip-placement="left" tooltip="Add new Class">
        <i class="icon-plus"></i>
    </button>
    <!--                    <button class="hdrbutton" ng-click="">
                            <i class="icon-cog"></i>
                        </button>-->
</div>
<div class="frame">
    <table class="classes">
        <thead>
        <tr>
            <th>Class Name</th>
            <th class="numeric">
                            <span tooltip="Number of Users (Terminals)(M)" tooltip-placement="left">
                            Number <br/> of Users
                            </span>
            </th>
            <th class="numeric">
                            <span tooltip="Think Time (Z)" tooltip-placement="left">
                            Think Time
                            </span>
            </th>
            <th class="numeric">
                            <span tooltip="Throughput per Class (X0)" tooltip-placement="left">
                            Throughput
                            </span>
            </th>
            <th class="numeric">
                            <span tooltip="Response Time per Class (R)" tooltip-placement="left">
                            Response <br/> Time
                            </span>
            </th>
            <th style="width:15px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="clazz in model.classes">
            <td nowrap="nowrap">
                <input type="text" class="input input-small simplebox" ng-model="clazz.name">
            </td>
            <td nowrap="nowrap">
                <input type="text"
                       ng-change="change('M', clazz)"
                       class="input input-small simplebox quantity {{clazz.userNumber.state}}"
                       ng-model="clazz.userNumber.text"
                       pattern="{{clazz.userNumber.unit.pattern}}">
                                <span class="dropdown">
                                    <a class="dropdown-toggle simpleank">{{clazz.userNumber.unit.title}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="unit in clazz.userNumber.availableUnits()">
                                            <a ng-click="clazz.userNumber.setUnit(unit)">{{unit.title}}</a>
                                        </li>
                                    </ul>
                                </span>
            </td>
            <td nowrap="nowrap">
                <input type="text"
                       ng-change="change('Z', clazz)"
                       class="input input-small simplebox quantity {{clazz.thinkTime.state}}"
                       ng-model="clazz.thinkTime.text"
                       pattern="{{clazz.thinkTime.unit.pattern}}">
                                <span class="dropdown">
                                    <a class="dropdown-toggle simpleank">{{clazz.thinkTime.unit.title}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="unit in clazz.thinkTime.availableUnits()">
                                            <a ng-click="clazz.thinkTime.setUnit(unit)">{{unit.title}}</a>
                                        </li>
                                    </ul>
                                </span>
            </td>
            <td nowrap="nowrap">
                <input type="text"
                       ng-change="change('X', clazz)"
                       class="input input-small simplebox quantity {{clazz.throughput.state}}"
                       ng-model="clazz.throughput.text"
                       pattern="{{clazz.throughput.unit.pattern}}">
                                <span class="dropdown">
                                    <a class="dropdown-toggle simpleank">{{clazz.throughput.unit.title}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="unit in clazz.throughput.availableUnits()">
                                            <a ng-click="clazz.throughput.setUnit(unit)">{{unit.title}}</a>
                                        </li>
                                    </ul>
                                </span>
            </td>
            <td nowrap="nowrap">
                <input type="text"
                       ng-change="change('R', clazz)"
                       class="input input-small simplebox quantity {{clazz.responseTime.state}}"
                       ng-model="clazz.responseTime.text"
                       pattern="{{clazz.responseTime.unit.pattern}}">
                                <span class="dropdown">
                                    <a class="dropdown-toggle simpleank">{{clazz.responseTime.unit.title}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="unit in clazz.responseTime.availableUnits()">
                                            <a ng-click="clazz.responseTime.setUnit(unit)">{{unit.title}}</a>
                                        </li>
                                    </ul>
                                </span>
            </td>
            <td nowrap="nowrap">
                                <span style="height: 28px">
                                <button class="hdrbutton" ng-click="removeClass(clazz)" tooltip-placement="left"
                                        tooltip="Remove Class">
                                    <i class="icon-remove"></i>
                                </button>
                                    </span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
