<div class="frame">
    <table class="classes qnm" flex>
        <col data-ng-repeat="type in classTypes"/>
        <col width="35px"/>
        <thead>
        <tr>
            <td colspan="{{classTypes.length + 1}}">
                <div flex layout="row" layout-align="space-between start" class="framehdr">
                    <div>
                        <i class="mdi mdi-account-network"></i>
                        Classes
                    </div>
                    <div>
                        <md-menu>
                            <button aria-label="Select Model Type"
                                    class="md-icon-button"
                                    ng-click="$mdOpenMenu()">
                                {{model.kind.unit.title}}
                            </button>
                            <md-menu-content width="1">
                                <md-menu-item ng-repeat="kind in model.kind.availableUnits()">
                                    <md-button aria-label="Select Model Type" ng-click="model.setKind(kind)"
                                               style="height: 31px;">
                                        {{kind.title}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div>
<!--
                                            <button ng-click="">
                                                <i class="mdi mdi-settings"></i>
                                            </button>
-->

                        <button ng-click="addClass()">
                            <i class="mdi mdi-plus"></i>
                            <md-tooltip>
                                Add new Class
                            </md-tooltip>
                        </button>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <th data-ng-repeat="type in classTypes">
                <span data-ng-bind="type.title"></span>
                <md-tooltip>{{type.tooltip }}</md-tooltip>
            </th>
            <th style="width:5px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="center in model.classes">
            <td nowrap="nowrap" ng-repeat="type in classTypes" ng-init="prop=center.all[type.id]">
                <input type="{{type.type}}"
                       aria-label="Property {{type.title}}"
                       class="input input-small simplebox quantity {{prop.state}}"
                       ng-change="change(type.id, center)"
                       ng-pattern="prop.pattern"
                       ng-model="prop.text"
                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                        >

                <md-menu>
                    <button aria-label="Select Unit" class="md-icon-button" ng-click="$mdOpenMenu()">
                        {{prop.unit.title}}
                    </button>
                    <md-menu-content width="1">
                        <md-menu-item ng-repeat="unit in prop.availableUnits()">
                            <md-button aria-label="Select Unit" ng-click="prop.setUnit(unit)" style="height: 31px;">
                                {{unit.title}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </td>
            <td nowrap="nowrap">
                <span style="height: 28px">
                    <button class="hdrbutton" ng-click="remove(center)">
                        <i class="mdi mdi-close"></i>
                        <md-tooltip>Remove Node</md-tooltip>
                    </button>
                </span>
            </td>
        </tr>

        </tbody>
    </table>
</div>

