<md-content flex layout-padding layout-fill layout-gt-lg="row" layout-wrap layout="column">
    <div flex="100">
        <md-card>
            <md-card-content style="padding: 2px">
                <div class="frame">
                    <table class="compare" ng-init="models=models()">
                        <tbody>
                        <tr>
                            <th rowspan="3">Classes</th>
                            <th colspan="{{models.length}}" style="text-align: center;">Models</th>
                        <tr>
                        <tr>
                            <th ng-repeat="model in models">
                                {{model.name}}
                            </th>
                        <tr>
                        <tr ng-repeat="class in classes()">
                            <th>{{class}}</th>
                            <td ng-repeat="model in models">
                                <table class="inner">
                                    <row ng-init="item=info(models[0] ,model, class)">
                                        <td ng-class="item.rClass()">{{item.rAsString()}}</td>
                                        <td ng-class="item.xClass()">{{item.xAsString()}}</td>
                                    </row>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </md-card-content>
        </md-card>
    </div>
</md-content>