<md-content flex layout-padding layout-fill layout-gt-lg="row" layout-wrap layout="column">
    <div flex="100" style="min-height: 100px">
        <md-card>
            <md-card-content style="padding: 2px">
                <div class="frame" flex="100">
                    <table class="compare" ng-init="models=models()">
                        <tr>
                            <td colspan="{{models.length + 1}}">
                                <div class="framehdr" layout="row" layout-align="space-between start" flex="100">
                                    <div>
                                        <i class="mdi mdi-compare"></i>&nbsp;Compare Models
                                    </div>
                                    <div>
                                        <md-menu>
                                            <button aria-label="Select Comparable Type"
                                                    class="md-icon-button"
                                                    ng-click="$mdOpenMenu()">
                                                {{kind.unit.title}}
                                            </button>
                                            <md-menu-content width="4">
                                                <md-menu-item ng-repeat="item in kind.availableUnits()">
                                                    <md-button aria-label="Select Model Type" ng-click="setKind(item)"
                                                               style="height: 31px;">
                                                        {{item.title}}
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
<!--                                    <div>
                                        <button ng-click="refresh()">
                                            <i class="mdi mdi-refresh"></i>
                                            <md-tooltip>Refresh</md-tooltip>
                                        </button>
                                    </div>-->
                                </div>
                            </td>
                        </tr>
                        <tbody ng-if="models.length > 1">
                        <tr>
                            <th rowspan="2">Classes</th>
                            <th colspan="{{models.length}}" style="text-align: center;">Models</th>
                        </tr>
                        <tr>
                            <th ng-repeat="model in models">
                                {{model.name}}
                            </th>
                        </tr>
                        <tr ng-repeat="className in classes()">
                            <th data-ng-bind="className"></th>
                            <td ng-repeat="model in models">
                                <table class="inner">
                                    <tr>
                                        <td ng-class="cells(model.id, className).rClass"
                                            ng-bind="cells(model.id, className).rAsString">

                                        </td>
                                        <td ng-class="cells(model.id, className).xClass"
                                            ng-bind="cells(model.id, className).xAsString">

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </md-card-content>
        </md-card>
    </div>
</md-content>