<div class="section">

    <div  ng-include="'views/project-header.html'">
    </div>

</div>
<br><br>

<div class="section">


    <div ng-hide="project.models.length < 2">
        <tabset>
            <tab ng-repeat="model in project.models">

                <tab-heading>
                    <input type="text" class="input input-small simplebox" ng-model="model.name">
                    <button ng-click="project.removeModel(model)" tooltip-placement="right" tooltip="Remove Model">
                        <i class="icon-remove"></i>
                    </button>
                </tab-heading>
                <ng-include data-snap-ignore="true" src="model.view"></ng-include>
            </tab>
        </tabset>
    </div>

    <div ng-hide="project.models.length != 1">
        <div ng-repeat="model in project.models">
            <ng-include data-snap-ignore="true" src="model.view"></ng-include>
        </div>
    </div>

</div>