<div class="container-fluid">
<div class="row-fluid">
    <div class="span12">
        <div class="framehdr">
            <input type="text" class="input input-large simplebox" style="width: 75%" ng-model="project.name">
            <span class="hdrbutton"  ng-click="remove()" tooltip-placement="left" tooltip="Delete Project">
                <i class="fa fa-trash-o icon-large"></i>
            </span>
            <span class="hdrbutton"  ng-click="save()" tooltip-placement="left" tooltip="Save Project">
                <i class="fa fa-floppy-o icon-large"></i>
            </span>
            <span class="hdrbutton"  ng-click="load()" tooltip-placement="left" tooltip="Load Project">
                <i class="fa fa-download icon-large"></i>
            </span>
            <span class="hdrbutton"  ng-click="reset()" tooltip-placement="left" tooltip="Reset Project">
                <i class="fa fa-file-o icon-large"></i>
            </span>
                <span class="hdrbutton dropdown" tooltip-placement="left" tooltip="Add Model">
                    <a class="dropdown-toggle simpleank"><i class="fa fa-plus icon-large"></i></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a ng-click="addQNM()">Queue Network Mode</a></li>
                        <li><a ng-click="addEGM()">Software Execution Model</a></li>
                    </ul>
                </span>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="frame">
            <textarea class="form-control" rows="3" style="width: 99%" ng-model="project.description"></textarea>
        </div>
    </div>
</div>
</div>