<section>
<form name="projectForm">
    <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
        <md-input-container flex-sm="100" flex="40">
            <label>Project</label>
            <input ng-model="project.name" md-maxlength="50" required name="name">
        </md-input-container>
        <md-input-container flex-sm="100" flex="55">
            <label>Description</label>
            <input ng-model="project.description">
        </md-input-container>
    </md-content>

    <md-button class="md-fab md-primary"
               ng-click="newModel($event)"
               aria-label="New Model" style="position: absolute; right: 24px; margin-top: -30px">
        <md-icon class="mdi mdi-plus"
                 style="font-size: 36px; height: 36px; width: 36px;"
                ></md-icon>
    </md-button>

</form>
</section>

<section flex ng-init="project=project()">

<div flex layout-fill class="md-padding" ng-if="project.models.length > 1">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
        <md-tab ng-repeat="model in project.models">
                 <md-tab-label>
                    <input type="text" class="tab-input ng-pristine ng-valid" ng-model="model.name">
                    <span style="height: 28px">
                    <button class="tab-button" ng-click="addToCompare(model)">
                        <i class="mdi mdi-compare"></i>
                        <md-tooltip>Add to Compare</md-tooltip>
                    </button>
                    <button class="tab-button" ng-click="project.removeModel(model)">
                        <i class="mdi mdi-close"></i>
                        <md-tooltip>Remove Model</md-tooltip>
                    </button>
                </span>
                 </md-tab-label>
                 <md-tab-body>
                     <ng-include src="model.view"></ng-include>
                 </md-tab-body>
        </md-tab>
    </md-tabs>
</div>

<div flex layout-fill class="md-padding" ng-if="project.models.length == 1">
    <div ng-repeat="model in project.models">
        <ng-include src="model.view"></ng-include>
    </div>
</div>

</section>




