<div flex layout-padding layout-fill  layout-wrap layout="column" ng-init="findAll()">
    <div class="framehdr">
        <i class="mdi mdi-server"></i>
        Project's Repository
        <button ng-click="findAll()">
            <i class="mdi mdi-refresh"></i>
            <md-tooltip>Refresh</md-tooltip>
        </button>
    </div>
    <div class="frame" flex layout-padding class="md-padding">
        <md-card ng-repeat="project in getProjects()">
            <md-card-content>
                <i class="mdi mdi-file"></i>
                <h3>{{project.name}}</h3>
                (ver: {{project.version}})
                <button ng-click="remove(project)">
                    <i class="mdi mdi-delete"></i>
                    <md-tooltip>Delete Project</md-tooltip>
                </button>
                <button ng-click="load(project)">
                    <i class="mdi mdi-download"></i>
                    <md-tooltip>Load Project</md-tooltip>
                </button>
            </md-card-content>
        </md-card>

    </div>

</div>