<div ng-controller="ChartCtrl" layout="column" flex layout-fill>
    <md-content flex layout-padding layout-fill layout-wrap layout-gt-lg="row" layout="column">
        <div class="framehdr" flex="100">
            <i class="mdi mdi-chart-line"></i>&nbsp;{{model.name}}: Asymptotic Bounds
            <button ng-click="refresh()">
                <i class="mdi mdi-refresh"></i>
                <md-tooltip>Refresh</md-tooltip>
            </button>
        </div>
        <div flex="50">
            <md-card>
                <md-card-content>
                    <div id="rmin" class="bounds-chart" style="width: 100%"></div>
                </md-card-content>
            </md-card>
        </div>
        <div flex="50">
            <md-card>
                <md-card-content>
                    <div id="xmax" class="bounds-chart" style="width: 100%"></div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>