<div layout="column" class="frame table">
    <div flex class="framehdr">
        <i class="mdi mdi-clock-fast"></i>
        Visits
        <!--
            <button ng-click="">
                <i class="mdi mdi-settings"></i>
            </button>
        -->
    </div>
    <div flex ng-init="colWidth = 100/(totalVisitTypes.length + 1) - 5">
        <div hide-sm layout="row">
            <div class="hdr" flex="5"></div>
            <div class="hdr" flex="{{colWidth}}">Node / Class</div>
            <div class="hdr" data-ng-repeat="type in totalVisitTypes" flex="{{colWidth}}">
                <span hide-md data-ng-bind="type.title" ></span>
                <span hide show-md data-ng-bind="type.stitle" ></span>
                <md-tooltip>{{type.tooltip }}</md-tooltip>
            </div>
        </div>

        <div ng-repeat="center in model.visits" layout="column">
            <div flex layout="row" layout-sm="column">
                <div flex="5" flex-sm="100" class="hdr">
                <span style="height: 28px;padding: 0" ng-show="center.hasDetails()">
                    <button class="hdrbutton"
                            ng-click="center.showDetails()"
                            ng-hide="center.details">
                        <i class="mdi mdi-menu-right" style="font-size: 24px;height: 24px"></i>
                        <md-tooltip>"Show Details"</md-tooltip>
                    </button>
                    <button class="hdrbutton"
                            ng-click="center.hideDetails()"
                            ng-show="center.details">
                        <i class="mdi mdi-menu-down" style="font-size: 24px;height: 24px"></i>
                        <md-tooltip>"Hide Details"</md-tooltip>
                    </button>
                </span>
                </div>
                <div flex="{{colWidth}}" class="cell">{{center.node.name.value}} / {{center.clazz.name.value}}</div>
                <div flex="{{colWidth}}" class="cell" ng-repeat="type in totalVisitTypes"
                     ng-init="prop=center.all[type.id]" layout="row" layout-align="space-between start">
                    <b><span class="fst" data-ng-bind="type.stitle" hide-gt-sm flex="50"></span></b>
                    <label>
                        <input type="{{type.type}}"
                               aria-label="Property {{type.title}}"
                               class="input input-small simplebox quantity {{prop.state}}"
                               ng-change="change(type.id, center)"
                               ng-pattern="prop.pattern"
                               ng-model="prop.text"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                    </label>
                    <md-menu style="padding: 0">
                        <button aria-label="Select Unit" class="md-icon-button" ng-click="$mdOpenMenu()">
                            {{prop.unit.title}}
                        </button>
                        <md-menu-content width="1">
                            <md-menu-item ng-repeat="unit in prop.availableUnits()">
                                <md-button aria-label="Select Unit" ng-click="prop.setUnit(unit)" style="height: 31px;">
                                    {{unit.title}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>

            <div flex layout="row" layout-sm="column" ng-show="center.isDetails()">
                <div flex="5" flex-sm="100" class="hdr">
                     &#x2715{{center.node.nodeNumber.value}}
                </div>
                <div flex="{{colWidth}}" class="cell">{{center.node.name.value}} / {{center.clazz.name.value}}</div>
                <div flex="{{colWidth}}" class="cell" ng-repeat="type in visitTypes" ng-init="prop=center.all[type.id]"
                     layout="row" layout-align="space-between start">
                    <b><span class="fst" data-ng-bind="type.stitle" hide-gt-sm flex="50"></span></b>
                    <label>
                        <input type="text"
                               aria-label="Property {{type.title}}"
                               class="input input-small simplebox quantity {{prop.state}}"
                               ng-change="change(type.id, center)"
                               ng-pattern="prop.pattern"
                               ng-model="prop.text"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                    </label>
                    <md-menu style="padding: 0">
                        <button aria-label="Select Unit" class="md-icon-button" ng-click="$mdOpenMenu()">
                            {{prop.unit.title}}
                        </button>
                        <md-menu-content width="1">
                            <md-menu-item ng-repeat="unit in prop.availableUnits()">
                                <md-button aria-label="Select Unit" ng-click="prop.setUnit(unit)" style="height: 31px;">
                                    {{unit.title}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>
</div>


