body .viewport .window .menu {
    height: 100%;
}

body .viewport .window .menu.collapse {
    float: left;
    height: 100% !important;
    width: auto;
}

body .viewport .window .menu.collapse.height {
    height: 0;
    overflow: hidden;
    padding: 0 10px;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

body .viewport .window .menu.collapse.width {
    width: 0;
    overflow: hidden;
    padding: 0 10px;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

body .viewport .window .menu.collapse.in.width {
    width: auto;
}

body .viewport .window .menu.collapse.in.height {
    height: auto;
}

body .viewport .window .menu.collapse.width .collapse-inner {
    width: 0;
}

body .viewport .window .menu.collapse.in.width .collapse-inner {
    width: 400px;
}


body .viewport .window .menu .collapse-inner {
    width: 400px;
    height: 100%;
    overflow: hidden;
}


body .viewport .window .view {
    overflow: hidden;
}
