<!DOCTYPE html>

<html lang="en" ng-app="pmc">
<head>
    <title>Performance Model Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="libs/Materialize/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection"/>
</head>

<body>

<div class="navbar-fixed" ng-controller="MainMenuCtrl">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="#about" class="brand-logo right hide-on-med-and-down waves-effect waves-light modal-trigger">Performance Model Calculator</a>
            <a href="#about" class="brand-logo center hide-on-large-only waves-effect waves-light modal-trigger">PMC</a>
            <a href="#" data-activates="sidebar-menu" class="button-collapse"><i class="mdi mdi-menu"></i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="#projects" class="waves-effect waves-light tooltipped"
                       data-position="right" data-delay="50" data-tooltip="Projects Repository"><i
                        class="mdi mdi-database"></i></a></li>
                <li><a href="javascript:void(0);" ng-click="toggleFullScreen();"
                       class="waves-effect waves-block waves-light tooltipped"
                       data-position="right" data-delay="50" data-tooltip="Full Screen Mode"><i
                        class="mdi" ng-class="fullScreenClass()"></i></a>
                </li>
            </ul>
            <ul class="side-nav" id="sidebar-menu">
                <li><a href="#projects">Repository</a></li>
                <li><a href="badges.html">About</a></li>
            </ul>
        </div>
    </nav>
</div>

<div ng-controller="MsgCtrl">
    <nav ng-repeat="alert in alerts" class="ng-class: alert.type;">
        <div class="nav-wrapper ng-class: alert.type;">
            <b>{{alert.msg}}</b>
            <ul class="right"><li><a href ng-click="closeAlert($index)"><i class="mdi mdi-close"></i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container" ng-view>
</div>

<!-- Modal Structure -->

<div id="about" class="modal">
    <div class="modal-content teal white-text">
        <h3>Performance Model Calculator</h3>
        <h4><strong>1.2-SNAPSHOT</strong></h4>
        <p>Computer System Performance Analysis Using <strong>Performance Models</strong> by the
            <strong>Maxim Yunusov</strong></p>
    </div>
    <div class="modal-footer teal lighten-4">
        <a href="javascript:void(0);" class="waves-effect waves-green btn-flat modal-action modal-close ">OK</a>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">

        <input id="project_name" type="text" class="validate" ng-model="project.name">
        <label class="active" for="project_name">Project</label>
    </div>
</div>

<div id="modeles" class="modal" ng-controller="ModalCtrl">
    <div class="modal-content teal white-text">
        <div class="row">
            <div col s="12">
                <h3>Performance Models</h3>
            </div>
            <div class="col s6">
                <div class="card-panel grey lighten-5 z-depth-2 modal-action modal-close" ng-click="addQNM()">
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <img src="img/QNM.png" alt="" class="responsive-img">
                        </div>
                        <div class="col s10">
              <span class="black-text">
                Queue Network Model
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card-panel grey lighten-5 z-depth-2 modal-action modal-close" ng-click="addEGM()">
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <img src="img/EGM.png" alt="" class="responsive-img">
                        </div>
                        <div class="col s10">
              <span class="black-text">
                Software Execution Model
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer teal lighten-4">
        <a href="javascript:void(0);" class="waves-effect waves-green btn-flat modal-action modal-close ">Cancel</a>
    </div>
</div>


<footer class="page-footer teal lighten-2">
    <div class="footer-copyright">
        <div class="container">
            <span>Code licensed under <a class="grey-text text-lighten-4" href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License</a>, Version
                    2.0.</span>
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://www.maxur.org">Maxim Yunusov</a></span>
        </div>
    </div>
</footer>


<script type="text/javascript" src="libs/jquery/js/jquery.js"></script>
<script type="text/javascript" src="libs/Materialize/js/materialize.js"></script>
<script type="text/javascript" src="libs/angular/js/angular.js"></script>
<script type="text/javascript" src="libs/angular-route/js/angular-route.js"></script>

<script type="text/javascript" src="js/utils/maxur-utils.js"></script>

<script type="text/javascript" src="js/domain/project.js"></script>
<script type="text/javascript" src="js/domain/qnm.js"></script>
<script type="text/javascript" src="js/domain/egm.js"></script>

<script type="text/javascript" src="js/pmc/pmc.ctrl.js"></script>
<script type="text/javascript" src="js/pmc/pmc.dir.js"></script>
<script type="text/javascript" src="js/pmc/pmc.fltr.js"></script>
<script type="text/javascript" src="js/pmc/pmc.svc.js"></script>
<script type="text/javascript" src="js/pmc.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.tooltipped').tooltip({delay: 50});
        $('.modal-trigger').leanModal();
    });
</script>


</body>
</html>
