<!doctype html>
<html lang="en" ng-app="qnmApp" id="top">
<head>
    <meta charset="utf-8">
    <title>Performance Model Calculator</title>
    <meta name="description" content="Performance Model Calculator">

    <script src="angular/angular.min.js"></script>
    <script src="ng-bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="js/index.js"></script>

    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>

</head>

<body class="ng-cloak" ng-controller="MainCtrl">

<header class="navbar navbar-fixed-top">
</header>

<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="dropdown pull-left">
                <a href="#"
                   class="brand dropdown-toggle" role="button" data-toggle="dropdown"
                   ng-click="model.addSource()">
                    <i class="icon-plus"></i>
                    <i class="icon-user"></i>
                    Add Source
                </a>
                <a href="#"
                   class="brand dropdown-toggle" role="button" data-toggle="dropdown"
                   ng-click="model.addNode()">
                    <i class="icon-plus"></i>
                    <i class="icon-desktop"></i>
                    Add Node
                </a>
            </div>
        </div>
    </div>
</header>
<div style="margin: 32px;"></div>

<header class="hero-unit" id="overview">
    <div class="container-fluid">
        <h1>Performance Model Calculator</h1>
        <p>Computer System Analysis Using <strong>Queueing Network Models</strong> by the
            <strong><a href="http://www.maxur.org">Maxim Yunusov</a></strong></p>
    </div>
</header>


<div role="main">

<div class="container">
<section id="getting_started">
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row-fluid">
<div class="span6">
    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="source in model.sources" is-open="true">
            <accordion-heading>
                <input id="sourceId" class="simplebox" ng-model="source.name" value="Source"/>
                <button class="close" ng-click="model.removeSource(source)"><i class="icon-remove"></i></button>
            </accordion-heading>
            <h4>Response</h4>

            <div class="row-fluid">
                <div class="span1">
                    <button type="button"
                            ng-model="source.responseTime.lock"
                            ng-hide="!source.responseTime.value"
                            class="btn btn-success span12"
                            btn-checkbox btn-checkbox-true="true"
                            btn-checkbox-false="false">
                        <i class="{{source.responseTime.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
                    </button>
                </div>
                <div class="span5">
                    <label for="responseTime"
                           class="span12 {{source.responseTime.isValid() ? (source.responseTime.eval ? 'alert-info':'') : 'alert-danger'}}"><b>Response
                        Time (R):</b></label>
                </div>
                <div class="span3" tooltip-placement="left" tooltip="{{source.responseTime.asNormFormTips()}}">
                    <input id="responseTime" type="number"
                           class="span12"
                           ng-disabled="source.responseTime.lock"
                           ng-model="source.responseTime.value"
                           ng-change="change('R', source)"
                           value="1"
                           input/>
                </div>
                <div class="btn-group, span3" ng-hide="source.responseTime.lock">
                    <button type="button"
                            class="btn btn-mini {{source.responseTime.unit == 'sec' ? 'btn-primary' : ''}} span3"
                            ng-model="source.responseTime.unit"
                            btn-radio="'sec'" ng-change="change('R', source)">sec
                    </button>
                    <button type="button"
                            class="btn btn-mini {{source.responseTime.unit == 'min' ? 'btn-primary' : ''}} span3"
                            ng-model="source.responseTime.unit"
                            btn-radio="'min'" ng-change="change('R', source)">min
                    </button>
                    <button type="button"
                            class="btn btn-mini {{source.responseTime.unit == 'hr' ? 'btn-primary' : ''}} span3"
                            ng-model="source.responseTime.unit"
                            btn-radio="'hr'" ng-change="change('R', source)">hr
                    </button>
                </div>
                <div class="btn-group, span3" ng-show="source.responseTime.lock">
                    {{source.responseTime.unit}}.
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <h4>Workload</h4>
                </div>
                <div class="span6">
                    <h4 class="btn-group">
                        <a class="btn btn-mini {{source.isOpen ? 'btn-primary' : ''}}" ng-model="source.isOpen"
                           btn-radio="true" ng-click="source.open()"><i class="icon-eye-open"></i> Open</a>
                        <a class="btn btn-mini {{!source.isOpen ? 'btn-primary' : ''}}" ng-model="source.isOpen"
                           btn-radio="false" ng-click="source.close()"><i class="icon-eye-close"></i> Closed</a>
                    </h4>
                </div>
            </div>
            <div class="row-fluid" ng-hide="source.isOpen">
                <div class="span1">
                    <button type="button"
                            ng-model="source.numberUsers.lock"
                            ng-hide="!source.numberUsers.value"
                            class="btn btn-success span12"
                            btn-checkbox btn-checkbox-true="true"
                            btn-checkbox-false="false">
                        <i class="{{source.numberUsers.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
                    </button>
                </div>
                <div class="span5">
                    <label for="numberUsers"
                           class="span12 {{source.numberUsers.isValid() ? (source.numberUsers.eval ? 'alert-info':'') : 'alert-danger'}}">
                        Number of Users (M):
                    </label>
                </div>
                <div class="span3">
                    <input id="numberUsers" type="number" ng-disabled="source.numberUsers.lock" class="span12"
                           ng-model="source.numberUsers.value" value="1" ng-change="change('M', source)" input/>
                </div>
            </div>
            <div class="row-fluid" ng-hide="source.isOpen">
                <div class="span1">
                    <button type="button"
                            ng-model="source.thinkTime.lock"
                            ng-hide="!source.thinkTime.value"
                            class="btn btn-success span12"
                            btn-checkbox btn-checkbox-true="true"
                            btn-checkbox-false="false">
                        <i class="{{source.thinkTime.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
                    </button>
                </div>
                <div class="span5">
                    <label for="thinkTime"
                           class="span12 {{source.thinkTime.isValid() ? (source.thinkTime.eval ? 'alert-info':'') : 'alert-danger'}}">
                        Think Time (Z):
                    </label>
                </div>
                <div class="span3" tooltip-placement="left" tooltip="{{source.thinkTime.asNormFormTips()}}">
                    <input id="thinkTime" type="number" ng-disabled="source.thinkTime.lock" class="span12"
                           ng-model="source.thinkTime.value" ng-change="change('Z', source)" value="1" input/>
                </div>
                <div class="btn-group, span3" ng-hide="source.thinkTime.lock">
                    <button type="button"
                            class="btn btn-mini span3 {{source.thinkTime.unit == 'sec' ? 'btn-primary' : ''}}"
                            ng-model="source.thinkTime.unit"
                            btn-radio="'sec'" ng-change="change('Z', source)">sec
                    </button>
                    <button type="button"
                            class="btn btn-mini span3 {{source.thinkTime.unit == 'min' ? 'btn-primary' : ''}}"
                            ng-model="source.thinkTime.unit"
                            btn-radio="'min'" ng-change="change('Z', source)">min
                    </button>
                    <button type="button"
                            class="btn btn-mini span3 {{source.thinkTime.unit == 'hr' ? 'btn-primary' : ''}}"
                            ng-model="source.thinkTime.unit"
                            btn-radio="'hr'" ng-change="change('Z', source)">hr
                    </button>
                </div>
                <div class="btn-group, span3" ng-show="source.thinkTime.lock">
                    {{source.thinkTime.unit}}.
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1">
                    <button type="button" ng-model="source.throughput.lock"
                            ng-hide="!source.throughput.value"
                            class="btn btn-success span12"
                            btn-checkbox btn-checkbox-true="true"
                            btn-checkbox-false="false">
                        <i class="{{source.throughput.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
                    </button>
                </div>
                <div class="span5">
                    <label for="throughput"
                           class="span12 {{source.throughput.isValid() ? (source.throughput.eval ? 'alert-info':'') : 'alert-danger'}}">
                        Throughput (X):
                    </label>
                </div>
                <div class="span3" tooltip-placement="left" tooltip="{{source.throughput.asNormFormTips()}}">
                    <input id="throughput" type="number" ng-disabled="source.throughput.lock" class="span12"
                           ng-model="source.throughput.value" ng-change="change('X', source)" value="1" input/>
                </div>
                <div class="btn-group, span3" ng-hide="source.throughput.lock">
                    <button type="button"
                            class="btn btn-mini {{source.throughput.unit == 'tps' ? 'btn-primary' : ''}} span3"
                            ng-model="source.throughput.unit"
                            btn-radio="'tps'" ng-change="change('X', source)">tps
                    </button>
                    <button type="button"
                            class="btn btn-mini {{source.throughput.unit == 'tpm' ? 'btn-primary' : ''}} span3"
                            ng-model="source.throughput.unit"
                            btn-radio="'tpm'" ng-change="change('X', source)">tpm
                    </button>
                    <button type="button"
                            class="btn btn-mini {{source.throughput.unit == 'tph' ? 'btn-primary' : ''}} span3"
                            ng-model="source.throughput.unit"
                            btn-radio="'tph'" ng-change="change('X', source)">tph
                    </button>
                </div>
                <div class="btn-group, span3" ng-show="source.throughput.lock">
                    {{source.throughput.unit}}.
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>

<div class="span6">
<accordion close-others="oneAtATime">
<accordion-group ng-repeat="node in model.nodes" is-open="true">
<accordion-heading>
    <input id="nodeId" class="simplebox" ng-model="node.name" value="Source"/>
    <button class="close" ng-click="model.removeNode(node)"><i class="icon-remove"></i></button>
</accordion-heading>
<div class="row-fluid">
    <div class="span1">
        <button type="button"
                ng-model="node.utilization.lock"
                ng-hide="!node.utilization.value && node.utilization.value != 0"
                class="btn btn-success span12"
                btn-checkbox btn-checkbox-true="true"
                btn-checkbox-false="false">
            <i class="{{node.utilization.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
        </button>
    </div>
    <div class="span5">
        <label for="utilizationFull"
               class="span12 {{node.utilization.isValid() ? (node.utilization.eval ? 'alert-info':'') : 'alert-danger'}}">Utilization
            (U):</label>
    </div>
    <div class="span3" tooltip-placement="left" tooltip="{{node.utilization.asNormFormTips()}}">
        <input id="utilizationFull" type="number" ng-disabled="node.utilization.lock" class="span12"
               ng-model="node.utilization.value" ng-change="change('U', node)" value="1" input/>
    </div>
    <div class="span3" ng-hide="node.utilization.lock">
        <button type="button"
                class="btn btn-mini {{node.utilization.unit == 'percent' ? 'btn-primary' : ''}} span3"
                ng-model="node.utilization.unit"
                btn-radio="'percent'" ng-change="change('U', node)">%
        </button>
        <button type="button"
                class="btn btn-mini {{node.utilization.unit == 'rate' ? 'btn-primary' : ''}} span6"
                ng-model="node.utilization.unit"
                btn-radio="'rate'" ng-change="change('U', node)">rate
        </button>
    </div>
    <div class="btn-group, span3" ng-show="node.utilization.lock">
        {{node.utilization.unit}}.
    </div>
</div>
<h4>Other Systems</h4>

<div class="row-fluid">
    <div class="span1">
        <button type="button"
                ng-model="node.utilizationEx.lock"
                ng-hide="!node.utilizationEx.value && node.utilizationEx.value != 0"
                class="btn btn-success span12"
                btn-checkbox btn-checkbox-true="true"
                btn-checkbox-false="false">
            <i class="{{node.utilizationEx.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
        </button>
    </div>
    <div class="span5">
        <label for="utilizationEx"
               class="span12 {{node.utilizationEx.isValid() ? (node.utilizationEx.eval ? 'alert-info':'') : 'alert-danger'}}">Utilization
            (U):</label>
    </div>
    <div class="span3" tooltip-placement="left" tooltip="{{node.utilization.asNormFormTips()}}">
        <input id="utilizationEx" type="number" ng-disabled="node.utilizationEx.lock" class="span12"
               ng-model="node.utilizationEx.value" ng-change="change('UEX', node)" value="1" input/>
    </div>
    <div class="span3" ng-hide="node.utilizationEx.lock">
        <button type="button"
                class="btn btn-mini {{node.utilizationEx.unit == 'percent' ? 'btn-primary' : ''}} span3"
                ng-model="node.utilizationEx.unit"
                btn-radio="'percent'" ng-change="change('UEX', node)">%
        </button>
        <button type="button"
                class="btn btn-mini {{node.utilizationEx.unit == 'rate' ? 'btn-primary' : ''}} span6"
                ng-model="node.utilizationEx.unit"
                btn-radio="'rate'" ng-change="change('UEX', node)">rate
        </button>
    </div>
    <div class="btn-group, span3" ng-show="node.utilizationEx.lock">
        {{node.utilizationEx.unit}}.
    </div>
</div>
<div ng-repeat="visit in model.getVisitsByNode(node)">
    <h4>{{visit.source.name}}</h4>

    <div class="row-fluid">
        <div class="span1">
            <button type="button"
                    ng-model="visit.number.lock"
                    ng-hide="!visit.number.value"
                    class="btn btn-success span12"
                    btn-checkbox btn-checkbox-true="true"
                    btn-checkbox-false="false">
                <i class="{{visit.number.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
            </button>
        </div>
        <div class="span5">
            <label for="numberVisits"
                   class="span12 {{visit.number.isValid() ? (visit.number.eval ? 'alert-info':'') : 'alert-danger'}}">
                Number of Visits (V):
            </label>
        </div>
        <div class="span3">
            <input id="numberVisits" type="number" ng-disabled="visit.number.lock"
                   class="span12"
                   ng-model="visit.number.value"
                   ng-change="change('V', visit)"
                   value="1" input/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <button type="button" ng-model="visit.throughput.lock"
                    ng-hide="!visit.throughput.value"
                    class="btn btn-success span12"
                    btn-checkbox btn-checkbox-true="true"
                    btn-checkbox-false="false">
                <i class="{{visit.throughput.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
            </button>
        </div>
        <div class="span5">
            <label for="throughputNode"
                   class="span12 {{visit.throughput.isValid() ? (visit.throughput.eval ? 'alert-info':'') : 'alert-danger'}}">
                Throughput (X):
            </label>
        </div>
        <div class="span3" tooltip-placement="left" tooltip="{{visit.throughput.asNormFormTips()}}">
            <input id="throughputNode" type="number" ng-disabled="visit.throughput.lock" class="span12"
                   ng-model="visit.throughput.value" ng-change="change('XI', visit)" value="1" input/>
        </div>
        <div class="btn-group, span3" ng-hide="visit.throughput.lock">
            <button type="button"
                    class="btn btn-mini {{visit.throughput.unit == 'tps' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.throughput.unit"
                    btn-radio="'tps'" ng-change="change('XI', visit)">tps
            </button>
            <button type="button"
                    class="btn btn-mini {{visit.throughput.unit == 'tpm' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.throughput.unit"
                    btn-radio="'tpm'" ng-change="change('XI', visit)">tpm
            </button>
            <button type="button"
                    class="btn btn-mini {{visit.throughput.unit == 'tph' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.throughput.unit"
                    btn-radio="'tph'" ng-change="change('XI', visit)">tph
            </button>
        </div>
        <div class="btn-group, span3" ng-show="visit.throughput.lock">
            {{visit.throughput.unit}}.
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <button type="button"
                    ng-model="visit.serviceTime.lock"
                    ng-hide="!visit.serviceTime.value"
                    class="btn btn-success span12"
                    btn-checkbox btn-checkbox-true="true"
                    btn-checkbox-false="false">
                <i class="{{visit.serviceTime.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
            </button>
        </div>
        <div class="span5">
            <label for="serviceTime"
                   class="span12 {{visit.serviceTime.isValid() ? (visit.serviceTime.eval ? 'alert-info':'') : 'alert-danger'}}">
                Mean Service Time (S):
            </label>
        </div>
        <div class="span3" tooltip-placement="left" tooltip="{{visit.serviceTime.asNormFormTips()}}">
            <input id="serviceTime" type="number" ng-disabled="visit.serviceTime.lock" class="span12"
                   ng-model="visit.serviceTime.value" ng-change="change('S', visit)" value="1" input/>
        </div>
        <div class="btn-group, span3" ng-hide="visit.serviceTime.lock">
            <button type="button"
                    class="btn btn-mini {{visit.serviceTime.unit == 'sec' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.serviceTime.unit"
                    btn-radio="'sec'" ng-change="change('S', visit)">sec
            </button>
            <button type="button"
                    class="btn btn-mini {{visit.serviceTime.unit == 'min' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.serviceTime.unit"
                    btn-radio="'min'" ng-change="change('S', visit)">min
            </button>
            <button type="button"
                    class="btn btn-mini {{visit.serviceTime.unit == 'hr' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.serviceTime.unit"
                    btn-radio="'hr'" ng-change="change('S', visit)">hr
            </button>
        </div>
        <div class="btn-group, span3" ng-show="visit.serviceTime.lock">
            {{visit.serviceTime.unit}}.
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <button type="button"
                    ng-model="visit.utilization.lock"
                    ng-hide="!visit.utilization.value"
                    class="btn btn-success span12"
                    btn-checkbox btn-checkbox-true="true"
                    btn-checkbox-false="false">
                <i class="{{visit.utilization.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
            </button>
        </div>
        <div class="span5">
            <label for="utilization"
                   class="span12 {{visit.utilization.isValid() ? (visit.utilization.eval ? 'alert-info':'') : 'alert-danger'}}">Utilization
                (U):</label>
        </div>
        <div class="span3" tooltip-placement="left" tooltip="{{visit.utilization.asNormFormTips()}}">
            <input id="utilization" type="number" ng-disabled="visit.utilization.lock" class="span12"
                   ng-model="visit.utilization.value" ng-change="change('U', visit)" value="1" input/>
        </div>
        <div class="span3" ng-hide="visit.utilization.lock">
            <button type="button"
                    class="btn btn-mini {{visit.utilization.unit == 'percent' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.utilization.unit"
                    btn-radio="'percent'" ng-change="change('U', visit)">%
            </button>
            <button type="button"
                    class="btn btn-mini {{visit.utilization.unit == 'rate' ? 'btn-primary' : ''}} span6"
                    ng-model="visit.utilization.unit"
                    btn-radio="'rate'" ng-change="change('U',visit)">rate
            </button>
        </div>
        <div class="btn-group, span3" ng-show="visit.utilization.lock">
            {{visit.utilization.unit}}.
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <button type="button"
                    ng-model="visit.meanNumberTasks.lock"
                    ng-hide="!visit.meanNumberTasks.value"
                    class="btn btn-success span12"
                    btn-checkbox btn-checkbox-true="true"
                    btn-checkbox-false="false">
                <i class="{{visit.meanNumberTasks.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
            </button>
        </div>
        <div class="span5">
            <label for="meanNumberTasks"
                   class="span12 {{visit.meanNumberTasks.isValid() ? (visit.meanNumberTasks.eval ? 'alert-info':'') : 'alert-danger'}}">
                Mean Number of Tasks (N):
            </label>
        </div>
        <div class="span3">
            <input id="meanNumberTasks" type="number" ng-disabled="visit.meanNumberTasks.lock"
                   class="span12"
                   ng-model="visit.meanNumberTasks.value"
                   ng-change="change('N', visit)"
                   value="1" input/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <button type="button"
                    ng-model="visit.residenceTime.lock"
                    ng-hide="!visit.residenceTime.value"
                    class="btn btn-success span12"
                    btn-checkbox btn-checkbox-true="true"
                    btn-checkbox-false="false">
                <i class="{{visit.residenceTime.lock ? 'icon-lock' : 'icon-unlock'}}"></i>
            </button>
        </div>
        <div class="span5">
            <label for="residenceTime"
                   class="span12 {{visit.residenceTime.isValid() ? (visit.residenceTime.eval ? 'alert-info':'') : 'alert-danger'}}">
                Residence Time (RT):
            </label>
        </div>
        <div class="span3" tooltip-placement="left" tooltip="{{visit.residenceTime.asNormFormTips()}}">
            <input id="residenceTime" type="number" ng-disabled="visit.residenceTime.lock"
                   class="span12" ng-model="visit.residenceTime.value" ng-change="change('RT', visit)" value="1" input/>
        </div>
        <div class="btn-group, span3" ng-hide="visit.residenceTime.lock">
            <button type="button"
                    class="btn btn-mini {{visit.residenceTime.unit == 'sec' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.residenceTime.unit"
                    btn-radio="'sec'" ng-change="change('RT', visit)">sec
            </button>
            <button type="button"
                    class="btn btn-mini {{visit.residenceTime.unit == 'min' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.residenceTime.unit"
                    btn-radio="'min'" ng-change="change('RT', visit)">min
            </button>
            <button type="button"
                    class="btn btn-mini {{visit.residenceTime.unit == 'hr' ? 'btn-primary' : ''}} span3"
                    ng-model="visit.residenceTime.unit"
                    btn-radio="'hr'" ng-change="change('RT', visit)">hr
            </button>
        </div>
        <div class="btn-group, span3" ng-show="visit.residenceTime.lock">
            {{visit.residenceTime.unit}}.
        </div>
    </div>
</div>
</accordion-group>
</accordion>

</div>
</div>
</section>
</div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <p>Designed and built by <a href="http://www.maxur.org">Maxim Yunusov</a></p>

        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>.
        </p>
    </div>
</footer>
</body>
</html>